<header class="navbar">
    <div class="container">
        <a routerLink="/" class="brand">
            <span class="brand-text">Ecommerce<span class="dot">.</span>Service</span>
        </a>

        <div class="search-bar">
            <input type="text" placeholder="Ürün, kategori veya marka ara..." />
            <button class="search-btn">
                <i class="icon-search"></i> </button>
        </div>

        <nav class="nav-actions">
            <a href="#" class="nav-link">
                <i class="icon-user"></i>
                <span>Giriş Yap</span>
            </a>
            <a href="#" class="nav-link cart-btn">
                <i class="icon-cart"></i>
                <span class="badge">2</span>
            </a>
        </nav>

        <button class="theme-btn" (click)="themeService.toggleTheme()">
            <i class="fa-solid" [class.fa-sun]="themeService.isDarkMode()"
                [class.fa-moon]="!themeService.isDarkMode()"></i>
        </button>
    </div>
</header>