:host {
  display: block;
  background-color: var(--bg-body); /* Tüm uygulamanın zeminini garantiye al */
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ekran boyu kadar uzamasını garanti et */
  background-color: var(--bg-body);
}

.main-content {
  flex: 1; /* Boşluğu doldurarak Footer'ı aşağı it */
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-body);
}